.chart-header-content {
  display: flex;
  gap: 20px;
  flex-direction: column;
  margin-bottom: 26px;
}

.chart-title {
  color: var(--text-900);
  font-size: 20px;
  font-weight: 600;
}

.chart-filters-content {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.chart-filters-label {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 12px;
  font-weight: 600;
  color: var(--text-800);
}

.chart-filters-btn {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.controls-bar-row {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 24px;
  background: var(--bg-200);
  padding: 10px 20px;
  border-radius: 12px;
  border: 1px solid var(--border-color);
  align-self: center;
}

.date-picker-fixed-width {
  width: auto;
  max-width: 200px;
  min-width: 200px;
  display: flex;
}

.date-picker-fixed-width > * {
  width: 100%;
  max-width: 280px;
}

.chart-filters-btn button {
  border-radius: 999px;
  padding: 6px 18px;
  font-size: 14px;
  transition: all 0.2s ease;
}

/* Gráfico */
.chart-display-container {
  width: 100%;
  min-height: 300px;
}

.no-data-placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  border: 1px dashed var(--border-dashed-color);
  border-radius: 12px;
  color: var(--text-600);
}

